%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et

{deps, [
 %  {triq, ".*", {git, "git://github.com/krestenkrab/triq.git", "master"}}
]}.


{so_specs, [
            {"priv/bsn_ext.so", ["c_src/bsn_ext.o"]},
            {"priv/bsn_int.so", ["c_src/bsn_int.o"]}
           ]}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.

